.login-container{
    
    background:radial-gradient( circle farthest-Corner at 10% 20%, rgba(90,92,106,1) 0%,  rgba(32,45,58,1) 81.3%);
    height: 100vh;
    padding: 30px;
    }
.login-box{
font-size: 0.8em;
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
border-radius: 15px;
background-color:rgba(255, 255, 255, .1) ;
padding: 25px;
color: white;
margin: 20px 30px;
}


form {

}

form .input-group{
margin: 30px 0px;
}

form .input-group label{
display: block;
}

form .input-group input{
border: none;
border-radius: 20px;
background: none;
border: 2px solid white;
margin-top: 20px;
padding: 10px;
color: white;
width: 100%;
outline: none;
}
form  .question{

}
form .question a{
    color: #eb4d4b;
}
form .login-button{
text-align: center;

}
form .login-button input{
    border: none;
    color: white;
    border-radius: 35px; 
    background-color: #eb4d4b;
    padding: 10px 50px; 
    font-size: 1.4em;
    letter-spacing: 2px;
    cursor: pointer; 
}

.social{
display: flex;
justify-content: space-around;
border-top: 1px solid rgba(255, 255, 255, .8);
margin-top: 30px;
padding-top: 20px;
}
.social a{
color: white;
font-size: 1.9em;
}
.social a i{

}
.login-img-container{
display: flex;
height: 100%;
}
.login-img-container img{
    width: 100%;
}
.image{
    position: relative;
}
.image img{
    position: absolute;
    top:-70px;
    right: 20px;
    width: 50px;
}
.image img:hover{
    width: 55px;
    cursor: pointer;
    transition: 0.9s;
}


